<div class="m3">
    <div class="row">
        <div class="column mb2 mx2">
            Search for your favorite movie using the title or Imdb Id
        </div>
    </div>
    <div class="row">
        <div class="column mx2">
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput type="text" [(ngModel)]="title">
                <button *ngIf="title" matSuffix mat-icon-button aria-label="Clear" (click)="title=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="column mx2">
            <mat-form-field>
                <mat-label>IMDB Id</mat-label>
                <input matInput type="text" [(ngModel)]="imdbId">
                <button *ngIf="imdbId" matSuffix mat-icon-button aria-label="Clear" (click)="imdbId=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="column mx2">
            <button mat-raised-button color="primary">Searh by Title</button>
        </div>
        <div class="column mx2">
            <button mat-raised-button color="primary">Searh by IMDB Id</button>

        </div>
    </div>
</div>